# Aplicacao
NODE_ENV=development
PORT=3000
API_PREFIX=/api

# PostgreSQL
POSTGRES_DB=capsula
POSTGRES_USER=capsula
POSTGRES_PASSWORD=capsula_dev_password
POSTGRES_PORT=5432

# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

# Resend
RESEND_API_KEY=
